page-crear-grupo {

    .titulo{
        font-size: 1.3em;
        padding-left: 5%;
        border-bottom: solid #0089cf;
        
    }

    .buscador{
        background: #0089cf;
        padding: 4% 1% 4% 1%;
        margin-top: -5%;
    }

}
