page-grupo-coordinador-admin {
    .add{
        color: #0089cf;
        font-size: 17px;
        float: right;
        margin: 2% 0% 2% 0%;
    }

   
    .nombreGrupo{
        font-size: 30px;
        color: #0089cf;
       
    }

}
