
<ion-content id="page9" text-center>
  <img src="assets/img/head.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <ion-input text-center type="text" value="" [(ngModel)]="grupo.nombre" class="nombreGrupo"></ion-input>
  <button id="grupoCoordinadorAdmin-button6" ion-button color="agblue" block on-click="goToHorario()">
    Horario
  </button>
  <button id="grupoCoordinadorAdmin-button7" ion-button color="agblue" block on-click="goToCalendar()">
    Calendario
  </button>
  <button id="grupoCoordinadorAdmin-button8" ion-button color="agblue" block on-click="msg()">
    Dejar Mensaje
  </button>
  <div id="grupoCoordinadorAdmin-markdown14" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Listado de mensajes:
    </p>
  </div>
  <ion-card>    
      <ion-list *ngIf="hayMensajes">
          <button ion-item *ngFor="let item of mensajes" (click)="verDetalle(item.asunto)">
            {{ item.asunto }}
          </button>         
        </ion-list>
  </ion-card>
</ion-content>