page-home-estudiante {

    .separador{
        background-color: #0089cf;
        color: white;
        padding: 0.1em;
        margin: 7% 0% 3% 0%; 
    }

    .parrafo{
        text-align: center
    }



}
