page-home-coordinador {

    .icono{
        padding-right: 3%;
    }

    .button{
        width: 70%;
        margin-top: 10%;
    }

    .separador{
        background-color: #0089cf;
        color: white;
        padding: 0.1em;
        margin: 7% 0% 3% 0%; 
    }

    
    .parrafo{
        text-align: center
    }
    

}
