page-horario {

    .titulo{
        font-size: 1.3em;
        padding-left: 5%;
        border-bottom: solid #0089cf;
        
    }

    .msgBox{

        height: 70px;
       
        
        border: solid 2px #0089cf;
        border-radius: 7px;
        border-left: solid 10px #0089cf;
        border-right: solid 10px #0089cf;
        

    }

}
