page-mensajes {

    .msgBox{

        height: 250px;
       
        
        border: solid 2px #0089cf;
        border-radius: 7px;
        border-left: solid 10px #0089cf;
        border-right: solid 10px #0089cf;
        

    }

}
