page-grupo-docente-admin {

    .add{
        color: #0089cf;
        font-size: 17px;
        float: right;
        margin: 2% 0% 2% 0%;
    }

    .titulos{
        font-size: 17px;
        margin-top: 15%;
       
    }

    .nombreGrupo{
        font-size: 30px;
        color: #0089cf;
       
    }

}
